root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# 마크다운 줄바꿈용 후행 이중 공백 보존
[*.md]
trim_trailing_whitespace = false
